<form method="post" class="d-inline"
    action="{{ path('member_registration_delete', {'id': member.id}) }}"
    onsubmit="return confirm(this.dataset.warning);"
    data-warning="{{ 'warning.confirm_deletion'|trans }}"
>
    <input type="hidden" name="_method" value="DELETE" />
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
    <button class="btn">{{ 'member.action.deny'|trans }}</button>
</form>
