{% extends 'base.html.twig' %}

{% block page_title %}{{ 'member.registration_index.title'|trans }}{% endblock %}

{% block body %}
<h1 class="mb-3 text-center">{{ 'member.registration_index.title'|trans }}</h1>

{% include 'member/_nav.html.twig' %}

<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>{{ 'member.field.name'|trans }}</th>
            <th>{{ 'member.field.email'|trans }}</th>
            <th>{{ 'member.field.address'|trans }}</th>
            <th>{{ 'member.action.label'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for member in members %}
        <tr>
            <td>{{ member.name }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.address }}</td>
            <td>
                <a class="btn btn-primary" href="{{ path('member_registration_show', {
                    'id': member.id
                }) }}">
                    {{ 'member.action.complete'|trans }}
                </a>
                {{ include('member/registration/_delete_form.html.twig') }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">{{ 'warning.no_record'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
