{% extends 'base.html.twig' %}

{% block page_title %}{{ 'member.registration_new.title'|trans }}{% endblock %}

{% block body %}
    <h1 class="mb-3 text-center">{{ 'member.registration_new.title'|trans }}</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-4 offset-2">
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
        </div>
        <div class="col-4">
            {{ form_row(form.address) }}
            <button class="btn btn-primary" type="submit">
                {{ 'member.action.create'|trans }}
            </button>
            <p class="form-text">
                {{ 'member.field.help'|trans }}
            </p>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
