{% extends 'base.html.twig' %}

{% block page_title %}{{ 'security.ask_password.title'|trans }}{% endblock %}

{% block body %}
<h1 class="mb-3 text-center">{{ 'security.ask_password.title'|trans }}</h1>
<div class="row text-center">
    <div class="col-md-4 offset-md-4">
        <form action="{{ path('password_ask') }}" method="post">
            <label for="username" class="form-label">
                {{ 'user.field.email'|trans }}
            </label>
            <input
                type="email" name="_username"
                id="username" class="form-control mb-3"
            />
            <button type="submit" class="btn btn-primary">
                {{ 'security.action.send_reset_link'|trans }}
            </button>
        </form>
    </div>
</div>
{% endblock %}
