{% extends 'base.html.twig' %}

{% block page_title %}{{ 'login.name'|trans }}{% endblock %}

{% block body %}
<h1 class="mb-3 text-center">{{ 'login.name'|trans }}</h1>
{% if error %}
<p class="alert alert-danger" role="alert">
    {{ error.messageKey|trans(error.messageData, 'security') }}
</p>
{% endif %}
<div class="row text-center">
    <div class="col-md-4 offset-md-4">
        <form action="{{ path('login') }}" method="post">
            <label for="username" class="form-label">
                {{ 'user.field.email'|trans }}
            </label>
            <input
                type="email" name="_username"
                id="username" class="form-control mb-3"
            />
            <label for="password" class="form-label">
                {{ 'user.field.password'|trans }}
            </label>
            <input
                type="password" name="_password"
                id="password" class="form-control mb-3"
            />
            <input
                type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            />
            <button type="submit" class="btn btn-primary">
                {{ 'login.submit'|trans }}
            </button>
            <p class="form-text">
                {{ 'registration.link'|trans({'%url%': path('member_registration_new')})|raw }}
            </p>

            <p class="form-text">
                Par ici si vous avez
                <a href="{{ path('password_ask') }}">
                    {{ 'security.ask_password.label'|trans }}
                </a>.
            </p>
        </form>
    </div>
</div>
{% endblock %}
