{% extends 'base.html.twig' %}

{% block page_title %}{{ 'security.reset_password.title'|trans }}{% endblock %}

{% block body %}
<h1 class="mb-3 text-center">{{ 'security.reset_password.title'|trans }}</h1>
<div class="row text-center">
    <div class="col-md-4 offset-md-4">
        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">
                {{ 'user.edit.update_password'|trans }}
            </button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
