<form method="post" action="{{ path('cooperator_pass_ask_renewal', {'id': member.passId}) }}">
    <button class="btn btn-primary">
        {{ 'cooperator_pass.action.ask_renewal'|trans }}
    </button>
</form>
