<form method="post" action="{{ path('member_disable', {'id': member.id}) }}"
    onsubmit="return confirm(this.dataset.warning);"
    data-warning="{{ 'warning.confirm_deletion'|trans }}">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
    <button class="btn btn-danger">{{ label }}</button>
</form>
