<ul class="nav nav-tabs">
    {% include '_nav_link.html.twig' with {
        route: 'member_index',
        label: 'member.index.tab',
    } only %}
    {% include '_nav_link.html.twig' with {
        route: 'member_registration',
        label: 'member.registration_index.tab',
    } only %}
    {% include '_nav_link.html.twig' with {
        route: 'cooperator_pass_index',
        label: 'cooperator_pass.waiting.tab',
    } only %}
    {% include '_nav_link.html.twig' with {
        route: 'member_index_disabled',
        label: 'member.index_disabled.tab',
    } only %}
</ul>