<form method="post" action="{{ path('password_update_unverified', {'id': member.id}) }}"
    onsubmit="return confirm(this.dataset.warning);"
    data-warning="{{ 'warning.confirm_password_update_unverified'|trans }}">
    <button class="btn btn-danger">{{ label }}</button>
</form>
