{% extends 'base.html.twig' %}

{% block page_title %}{{ 'member.edit.label'|trans }}{% endblock %}

{% block body %}
<h1 class="mb-3 text-center">{{ member.name }}</h1>
<div class="row">
    {% if not is_granted('ROLE_ADMIN') %}
    <div class="col-md-4 offset-2">
        <h2>{{ 'member.edit.info'|trans }}</h2>
        {{ form_start(info_form) }}
            {{ form_rest(info_form) }}
            <button type="submit" class="btn btn-secondary">
                {{ 'member.edit.update_info'|trans }}
            </button>
        {{ form_end(info_form) }}

        <hr>
        {% if member.isCooperator %}
        <p>
            <strong>{{ 'member.show.cooperator.yes'|trans }}</strong>
            {{ 'member.show.period'|trans({
                '%start%': member.passStart|date('d/m/Y'),
                '%end%': member.passEnd|date('d/m/Y')
            }) }}
        </p>

        {% if member.passEnd|date('U') < '+30 days'|date('U') %}
        <p class="alert alert-warning">
            {{ 'cooperator_pass.flash.warning.end'|trans }}
        </p>
        {% if member.passIsWaiting %}
        <p class="alert alert-info">
            {{ 'cooperator_pass.flash.info.renewal'|trans }}
        </p>
        {% else %}
        <p>
            {% include 'member/_ask_renewal_form.html.twig' %}
        </p>
        {% endif %}
        {% endif %}

        {% else %}
        <p>
            {{ 'member.show.cooperator.no'|trans }}
        </p>
        {% if member.passIsWaiting %}
        <p class="alert alert-info">
            {{ 'cooperator_pass.flash.info.activation'|trans }}
        </p>
        {% else %}
        <p>
            {% include 'cooperator_pass/_ask_form.html.twig' %}
        </p>
        {% endif %}
        {% endif %}
        <hr>
        <a href="{{ path('booking_index_applicant', {id: member.id}) }}" class="btn btn-primary">
            {{ 'booking.action.see_bookings'|trans }}
        </a>
    </div>
    {% endif %}
    <div class="col-md-4{{ is_granted('ROLE_ADMIN') ? ' offset-4' : '' }}">
        <h2>{{ 'member.edit.operations'|trans }}</h2>
        {{ form_start(password_form) }}
            {{ form_rest(password_form) }}
            <button type="submit" class="btn btn-secondary">
                {{ 'user.edit.update_password'|trans }}
            </button>
        {{ form_end(password_form) }}
        {% if not is_granted('ROLE_ADMIN') %}
        <hr />
        {{ include('member/_disable_form.html.twig', {
            'member': app.user.owner,
            'label': 'member.edit.disable'|trans
        }) }}
        {% endif %}
    </div>
</div>
{% endblock %}
