{% extends 'base.html.twig' %}

{% block page_title %}{{ 'member.index_disabled.title'|trans }}{% endblock %}

{% block body %}
<h1 class="mb-3 text-center">{{ 'member.index_disabled.title'|trans }}</h1>

{% include 'member/_nav.html.twig' %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ 'member.field.email'|trans }}</th>
            <th>{{ 'member.action.label'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for member in members %}
        <tr>
            <td>{{ member.email }}</td>
            <td>
                <a class="btn btn-primary" href="{{ path('member_show_disabled', {
                    'id': member.id
                }) }}">
                    {{ 'member.action.reactivate'|trans }}
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">{{ 'warning.no_record'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include '_pagination.html.twig' with {
    page: page,
    route: 'member_index_disabled',
} only %}
{% endblock %}
