{% extends 'base.html.twig' %}

{% block page_title %}{{ 'member.index.title'|trans }}{% endblock %}

{% block body %}
<h1 class="mb-3 text-center">{{ 'member.index.title'|trans }}</h1>

{% include 'member/_nav.html.twig' %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ 'member.field.name'|trans }}</th>
            <th>{{ 'member.field.email'|trans }}</th>
            <th>{{ 'member.field.isCooperator'|trans }}</th>
            <th>{{ 'member.field.isNeighbor'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for member in members %}
        <tr>
            <td>
                <a
                    {% if member == app.user.owner %}
                    href="{{ path('member_me') }}"
                    {% else %}
                    href="{{ path('member_show', {'id': member.id}) }}"
                    {% endif %}
                >
                    {{ member.name }}
                </a>
            </td>
            <td>{{ member.email }}</td>
            <td>
                <input
                    class="form-check-input me-2" type="checkbox" disabled
                    {% if member.isCooperator %}
                    checked
                    {% endif %}
                />
                {% if member.isCooperator %}
                {% if member.passStart > date('now') %}
                {{ 'member.index.future_pass'|trans({
                    '%start%': member.passStart|date('d/m/Y')
                }) }}
                {% else %}
                {{ 'member.index.pass'|trans({
                    '%end%': member.passEnd|date('d/m/Y')
                }) }}
                {% endif %}
                {% endif %}
            </td>
            <td>
                <input
                    class="form-check-input" type="checkbox" disabled
                    {% if member.isNeighbor %}checked{% endif %}
                />
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">{{ 'warning.no_record'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include '_pagination.html.twig' with {
    page: page,
    route: 'member_index',
} only %}
{% endblock %}
