{% extends 'base.html.twig' %}

{% block page_title %}{{ 'member.show_disabled.title'|trans }}{% endblock %}

{% block body %}
<h1 class="mb-3 text-center">{{ 'member.show_disabled.title'|trans }}</h1>

<div class="row align-items-center">
    <div class="col-4 offset-2">
        {{ form_start(form, {'attr': {'id': 'member_rights'}}) }}
            {{ form_row(form.email) }}
            {{ form_row(form.name) }}
            {{ form_row(form.address) }}
            {{ form_row(form.isNeighbor) }}
            {{ form_row(form.isCooperator) }}
            <p class="form-text">{{ 'cooperator_pass.help.registration'|trans }}</p>
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    <div class="col-4">
        <button type="submit" form="member_rights" class="btn btn-primary mb-3">
            {{ 'member.action.create_member'|trans }}
        </button>
    </div>
</div>

<p class="text-center mt-3">
    <a href="{{ path('member_index_disabled') }}">
        {{ 'member.action.back_disabled'|trans }}
    </a>
</p>
{% endblock %}
