{% extends 'base.html.twig' %}

{% block body %}
<div class="row fs-4 text-center">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <a href="{{ path('booking') }}" class="stretched-link">
                    <i class="bi-tag-fill"></i>
                    {{ 'portal.tool.booking'|trans }}
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <a
                    href="https://cloud.bouilloncube.fr/index.php/s/oeZrzWzwpfLT8z7"
                    class="stretched-link" target="_blank"
                >
                    <i class="bi-inbox-fill"></i>
                    {{ 'portal.tool.meeting_prep'|trans }}
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <a
                    href="https://cloud.bouilloncube.fr/index.php/s/iNc6XgZfrwwHo36"
                    class="stretched-link" target="_blank"
                >
                    <i class="bi-briefcase-fill"></i>
                    {{ 'portal.tool.documents'|trans }}
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <i class="bi-calendar"></i>
                Agendas
            </div>
        </div>
    </div>
</div>
{% endblock %}
