<form class="d-inline" method="post" action="{{ path('booking_bill_settle', {
    ids: bill.ids
}) }}">
    <input type="hidden" name="_method" value="PUT" />
    <button class="btn btn-primary">{{ 'booking.action.settle_bill'|trans }}</button>
</form>
