{% extends 'booking/base.html.twig' %}

{% block page_title %}{{ 'booking.bill.title'|trans }}{% endblock %}

{% block body %}
<h1 class="mb-3 text-center">{{ 'booking.bill.title'|trans }}</h1>
<h2>
    {% if page.current %}
    {{ 'booking.bill.due_end'|trans }}
    {{ page.current.uniqueMonth|date_modify('-1 day')|format_date(pattern = 'dd MMMM yyyy') }}
    {% else %}
    {{ 'booking.bill.none_due'|trans }}
    {% endif %}
</h2>
<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th class="w-25">{{ 'booking.field.applicant'|trans }}</th>
            <th class="w-25">{{ 'booking.field.count'|trans }}</th>
            <th class="w-25">{{ 'booking.field.price'|trans }}</th>
            <th>{{ 'booking.action.label'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for bill in bills %}
        {% if bill.price > 0 %}
        <tr>
            <td class="w-25">
                <a href="{{ path('member_show', {id: bill.receiverId}) }}">
                    {% if bill.receiverName %}
                    {{ bill.receiverName }}
                    {% else %}
                    {{ 'member.level.disabled'|trans|capitalize }}
                    {% endif %}
                </a>
            </td>
            <td class="w-25">
                {% if bill.count > 0 %}
                <a href="{{ path('booking_index_applicant', {
                        'id': bill.receiverId,
                        month: bill.due|date_modify('-1 month')|date('Y-n')
                    }) }}"
                >
                    {{ bill.count }} {{ 'booking.bill.bookings'|trans }}
                </a>
                {{ bill.pass > 0 ? ',' : '' }}
                {% endif %}
                {% if bill.pass > 0  %}
                {{ 'booking.bill.pass'|trans }}
                {% endif %}
            </td>
            <td class="w-25">{{ (bill.price / 100)|format_currency('EUR') }}</td>
            <td>
                {% include 'booking/bill/_settle_form.html.twig' %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% include '_pagination_month.html.twig' with {
    page: page,
    route: 'booking_bill',
    offset: '-1 month'
} only %}
{% endblock %}
