<form class="d-inline" method="post" action="{{ path('cooperator_pass_activate', {'id': pass.id}) }}">
    <input type="hidden" name="_method" value="PUT" />
    <button class="btn btn-primary">
        {{ 'cooperator_pass.action.activate'|trans }}
    </button>
</form>
