<form class="d-inline" method="post" action="{{ path('cooperator_pass_reject', {'id': pass.id}) }}">
    <input type="hidden" name="_method" value="DELETE" />
    <button class="btn">{{ 'cooperator_pass.action.reject'|trans }}</button>
</form>
