<form class="d-inline" method="post" action="{{ path('cooperator_pass_renew', {'id': pass.id}) }}">
    <input type="hidden" name="_method" value="PUT" />
    <button class="btn btn-primary">
        {{ 'cooperator_pass.action.renew'|trans }}
    </button>
</form>
