<form method="post" action="{{ path('cooperator_pass_stop', {
        'id': member.id,
        'pass_id': member.passId
    }) }}"
    onsubmit="return confirm(this.dataset.warning);"
    data-warning="{{ 'cooperator_pass.flash.warning.stop'|trans }}">
    <input type="hidden" name="_method" value="DELETE" />
    <button class="btn btn-danger">{{ 'cooperator_pass.action.stop'|trans }}</button>
</form>
