{% extends 'base.html.twig' %}

{% block page_title %}{{ 'cooperator_pass.waiting.title'|trans }}{% endblock %}

{% block scripts %}
<script type="module" src="/js/action-list.js"></script>
{% endblock %}

{% block body %}
<h1 class="mb-3 text-center">{{ 'cooperator_pass.waiting.title'|trans }}</h1>

{% include 'member/_nav.html.twig' %}

<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>{{ 'cooperator_pass.field.owner'|trans }}</th>
            <th>{{ 'cooperator_pass.request.label'|trans }}</th>
            <th>{{ 'cooperator_pass.field.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for pass in passes %}
        <tr>
            <td>
                <a href="{{ path('member_show', {'id': pass.ownerId}) }}">
                    {{ pass.ownerName }}
                </a>
            </td>
            {% if pass.isActive %}
            <td>{{ 'cooperator_pass.request.renewal'|trans({
                '%end%': pass.end|date('d/m/Y')
            }) }}</td>
            <td>
                <button
                    class="btn btn-primary btn--remote"
                    data-action="{{ path('cooperator_pass_renew', {'id': pass.id}) }}"
                    data-method="PUT"
                >{{ 'cooperator_pass.action.renew'|trans }}</button>
                <button
                    class="btn btn--remote"
                    data-action="{{ path('cooperator_pass_reject', {'id': pass.id}) }}"
                    data-method="DELETE"
                >{{ 'cooperator_pass.action.reject'|trans }}</button>
            </td>
            {% else %}
            <td>{{ 'cooperator_pass.request.activation'|trans }}</td>
            <td>
                <button
                    class="btn btn-primary btn--remote"
                    data-action="{{ path('cooperator_pass_activate', {'id': pass.id}) }}"
                    data-method="PUT"
                >{{ 'cooperator_pass.action.activate'|trans }}</button>
                <button
                    class="btn btn--remote"
                    data-action="{{ path('cooperator_pass_reject', {'id': pass.id}) }}"
                    data-method="DELETE"
                >{{ 'cooperator_pass.action.reject'|trans }}</button>
            </td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td colspan="3">{{ 'warning.no_record'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
