<form class="d-inline form-allow" method="post" action="{{ path('booking_allow', {id: booking.id}) }}">
    <input type="hidden" name="_method" value="PUT" />
    <button class="btn btn-primary btn--remote">
        {{ 'booking.action.allow'|trans }}
    </button>
</form>
