<form class="d-inline" method="post" action="{{ path('booking_deny', {id: booking.id}) }}">
    <input type="hidden" name="_method" value="DELETE" />
    <button class="btn btn-danger btn--remote">{{ 'booking.action.cancel'|trans }}</button>
</form>
