<form class="d-inline form-deny" method="post" action="{{ path('booking_deny', {id: booking.id}) }}">
    <input type="hidden" name="_method" value="DELETE" />
    <button class="btn btn--remote">{{ 'booking.action.deny'|trans }}</button>
</form>
