<div class="modal fade" id="eventCreationModal" tabindex="-1"
    aria-labelledby="eventCreationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ 'booking.new.title'|trans }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ form_start(form, {attr: {'id': 'booking'}}) }}
                {{ form_row(form.place) }}
                <div class="d-none">
                    {{ form_rest(form) }}
                </div>
            {{ form_end(form) }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" form="booking">
                {{ 'booking.new.label'|trans }}
            </button>
        </div>
        </div>
    </div>
</div>
