<div class="modal fade" id="eventDetailModal" tabindex="-1"
    aria-labelledby="eventDetailModal" aria-hidden="true"
    data-access="{{ is_granted('ROLE_ADMIN') ? '-1' : app.user.owner.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">%modalTitle%</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
                <a href="%applicantUrl%">%applicantName%</a> /
                <a href="%bookingsUrl%">
                    {{ 'booking.index_applicant.label'|trans }}
                </a>
            </p>
            <p>
                <span>%placeName%</span> <br>
                du <span>%start%</span> au <span>%end%</span> <br>
                ( <span>%length%</span> )
            </p>
            <div class="booking-comment">
                <h4>{{ 'booking.field.comment'|trans }}</h4>
                <p>%comment%</p>
            </div>
        </div>
        <div class="modal-footer d-none request-actions">
            <button
                class="btn btn-primary btn--remote"
                data-action="%allowUrl%"
                data-method="PUT"
            >{{ 'booking.action.allow'|trans }}</button>
            <button
                class="btn btn--remote"
                data-action="%denyUrl%"
                data-method="DELETE"
            >{{ 'booking.action.deny'|trans }}</button>
        </div>
        <div class="modal-footer d-none approved-actions">
            <button
                class="btn btn-danger btn--remote"
                data-action="%denyUrl%"
                data-method="DELETE"
            >{{ 'booking.action.cancel'|trans }}</button>
        </div>
        </div>
    </div>
</div>
