{% set dayFormat = 'd MMMM' %}
{% set monthFormat = 'MMMM' %}
{% set yearFormat = ' yyyy' %}
{% set sameYear = start|date('Y') == end|date('Y') %}

{% if unit == 'hour' %}
{{ 'booking.field.period.hour'|trans({
    '%date%': start|format_date(pattern = dayFormat ~ yearFormat),
    '%start%': start|date('H:i'),
    '%end%': end|date('H:i'),
})|raw }}
{% elseif unit == 'day' %}
{% set startString = start|format_date(pattern = (sameYear ? dayFormat : dayFormat ~ yearFormat)) %}
{% set endString = end|date_modify('-1 day')|format_date(pattern = dayFormat ~ yearFormat) %}
{% if endString starts with startString %}
{{ 'booking.field.period.day_single'|trans({ '%date%': endString })|raw }}
{% else %}
{{ 'booking.field.period.day'|trans({
    '%start%': startString,
    '%end%': endString,
})|raw }}
{% endif %}
{% else %}
{{ 'booking.field.period.month'|trans({
    '%start%': start|format_date(pattern = (sameYear ? monthFormat : monthFormat ~ yearFormat)),
    '%end%': end|date_modify('-1 day')|format_date(pattern = monthFormat ~ yearFormat),
    '%sep%': sameYear ? '' : '<br/>',
})|raw }}
{% endif %}
