{% extends 'booking/base.html.twig' %}

{% block page_title %}
{% if app.user.owner == member %}
{{ 'booking.index_me.title'|trans }}
{% else %}
{{ 'booking.index_applicant.title'|trans }}
{% endif %}
{% endblock %}

{% block scripts %}
<script type="module" src="/js/action-list.js"></script>
{% endblock %}

{% block body %}
{% set hasPriceAccess = is_granted('ROLE_ADMIN') or member == app.user.owner %}
{% set hasCancelAccess = is_granted('ROLE_ADMIN') or member == app.user.owner %}
<h1 class="text-center mb-3">
    {% if app.user.owner == member %}
    {{ 'booking.index_me.title'|trans }}
    {% else %}
    {{ 'booking.index_applicant.by'|trans }}
    <a href="{{ path('member_show', {'id': member.id}) }}">
        {{ member.name ? member.name : 'member.level.disabled'|trans }}
    </a>
    {% endif %}
</h1>
{% if page.current %}
<h2>
    {{ page.current.uniqueMonth|format_date(pattern='MMMM y')|capitalize }}
    ({{ page.current.count }}
    {{ 'booking.index_applicant.label'|trans }})
</h2>
{% endif %}
<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>{{ 'booking.field.place'|trans }}</th>
            <th>{{ 'booking.field.period.label'|trans }}</th>
            <th>{{ 'booking.field.length.label'|trans }}</th>
            <th>{{ 'booking.field.isApproved'|trans }}</th>
            {% if hasPriceAccess %}
            <th>{{ 'booking.field.price'|trans }}</th>
            {% endif %}
            {% if hasCancelAccess %}
            <th>{{ 'booking.action.label'|trans }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.placeName }}</td>
            <td>
                {% include 'booking/_period.html.twig' with {
                    'unit': booking.unit,
                    'start': booking.start,
                    'end': booking.end
                } only %}
            </td>
            <td>
                {{ booking|booking_length|format_number }}
                {{ ('booking.field.length.' ~ booking.unit)|trans }}
            </td>
            <td>
                <input
                    class="form-check-input" type="checkbox" disabled
                    {{ booking.isApproved ? 'checked' : '' }}
                />
            </td>
            {% if hasPriceAccess %}
            <td>{{ (booking.price / 100)|format_currency('EUR') }}</td>
            {% endif %}
            {% if hasCancelAccess %}
            <td>
                <button
                    class="btn btn-danger btn--remote"
                    data-action="{{ path('booking_deny', {id: booking.id}) }}"
                    data-method="DELETE"
                >{{ 'booking.action.cancel'|trans }}</button>
            </td>
            {% endif %}
        </tr>
        {% else %}
        <tr>
            <td colspan="{{ hasPriceAccess ? 6 : 5 }}">
                {{ 'warning.no_record'|trans }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include '_pagination_month.html.twig' with {
    page: page,
    route: 'booking_index_applicant',
    params: {id: member.id}
} only %}
{% endblock %}
