{% extends 'base.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{{ path('portal') }}">{{ 'portal.name'|trans }}</a>
</li>
{% if app.request.attributes.get('_route') == 'booking' %}
<li class="breadcrumb-item active" aria-current="page">
    {{ 'portal.tool.booking'|trans }}
</li>
{% else %}
<li class="breadcrumb-item">
    <a href="{{ path('booking') }}">{{ 'portal.tool.booking'|trans }}</a>
</li>
{% endif %}
{% endblock %}

{% block navbar_menu %}
{% include '_nav_link.html.twig' with {
    'route': 'booking',
    'label': 'booking.index.label'
} only %}
{% if is_granted('ROLE_ADMIN') %}
{% include '_nav_link.html.twig' with {
    'route': 'booking_index_waiting',
    'label': 'booking.index_waiting.label',
    count: count_booking_requests(),
} only %}
{% include '_nav_link.html.twig' with {
    'route': 'booking_bill',
    'label': 'booking.bill.label',
    count: count_due_bills(),
} only %}
{% else %}
{% include '_nav_link.html.twig' with {
    'route': 'booking_index_applicant',
    'params': {'id': app.user.owner.id},
    'label': 'booking.index_me.label',
    count: count_booking_requests(app.user.owner),
} only %}
{% endif %}
{% endblock %}
