{% extends 'booking/base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="../css/fullcalendar.min.css" />
{% endblock %}

{% block scripts %}
<script src="../js/fullcalendar/main.min.js" defer></script>
<script src="../js/fullcalendar/locale-fr.js" defer></script>
<script type="module">
    import * as Calendar from '../js/booking/calendar.js'
    import * as RoomList from '../js/booking/room-list.js'

    const EVENT_SOURCE = "{{ path('fc_load_events') }}"

    Calendar.init(EVENT_SOURCE)
    RoomList.init()
</script>
{% endblock %}

{% block page_title %}{{ 'booking.index.title'|trans }}{% endblock %}

{% block body %}
<h1 class="mb-3 text-center">{{ 'booking.index.title'|trans }}</h1>
<div class="row">
    <div class="col-2">
        {# {% if not is_granted('ROLE_ADMIN') %}
        <a href="{{ path('booking_new') }}" class="btn btn-primary mb-3">
            {{ 'booking.new.label'|trans }}
        </a>
        {% endif %} #}
        <ul id="room_list" class="nav nav-pills flex-column">
            {% for room in rooms %}
            <li class="nav-item">
                <div class="hstack">
                    <a class="nav-link link-dark" href="#" data-room-id="{{ room.id }}">
                        <i class="bi bi-square-fill" style="color: {{ room.color }};"></i>
                        {{ room.name }}
                    </a>
                    <a
                        class="ms-auto link-secondary"
                        href="{{ path('booking_export', {id: room.id}) }}"
                    >
                        <i class="bi bi-link-45deg"></i>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col" id="calendar-holder"></div>
</div>
<!-- Modal -->
{% if is_granted('ROLE_ADMIN') %}
{% include 'booking/_event_blocking_modal.html.twig' %}
{% include 'booking/_event_detail_modal.html.twig' %}
{% else %}
{% include 'booking/_event_creation_modal.html.twig' %}
{% include 'booking/_event_request_modal.html.twig' %}
{% endif %}
{% endblock %}
