{% extends 'booking/base.html.twig' %}

{% block page_title %}{{ 'booking.new.title'|trans }}{% endblock %}

{% block scripts %}
<script type="module" defer>
    import * as ConcurrenceAlert from '/js/booking/concurrence-alert.js'
    import * as PlacePicker from '/js/booking/place-picker.js'
    import * as UnitChoice from '/js/booking/unit-choice.js'

    ConcurrenceAlert.init()
    PlacePicker.init()
    UnitChoice.init()
</script>
{% endblock %}

{% block body %}
<h1 class="mb-3">{{ 'booking.new.title'|trans }}</h1>
{{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.place) }}

            <div class="preview">
                {% for room in rooms %}
                <img
                    id="preview_{{ room.slug }}"
                    class="preview_item d-none"
                    src="/img/room/{{ room.slug }}.jpg"
                    alt="{{ room.name }}"
                />
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col">
                    {{ form_row(form.unit) }}
                    <p class="form-text">
                        <span id="booking_price_free" class="d-none">
                            {{ 'booking.new.price.free'|trans }}
                        </span>
                        <span class="d-none">
                            <span id="booking_price_hourly_rate"></span> €
                            {{ 'booking.new.price.hourly'|trans }}
                        </span>
                        <span class="d-none">
                            {{ 'booking.new.price.use_limit'|trans }}
                            <span id="booking_price_max_hours"></span>
                            {{ 'booking.new.price.hours_per'|trans }}
                            <span id="booking_price_hour_seeking"></span>
                        </span> <br>
                        <span class="d-none">
                            <span id="booking_price_daily_rate"></span> €
                            {{ 'booking.new.price.daily'|trans }}
                        </span>
                        <span class="d-none">
                            {{ 'booking.new.price.use_limit'|trans }}
                            <span id="booking_price_max_days"></span>
                            {{ 'booking.new.price.days_per_year'|trans }}
                        </span> <br>
                        <span class="d-none">
                            <span id="booking_price_monthly_rate"></span> €
                            {{ 'booking.new.price.monthly'|trans }}
                        </span>
                        <span class="d-none">
                            {{ 'booking.new.price.overtime'|trans }}
                            <span id="booking_price_overtime_rate"></span> €
                            {{ 'booking.new.price.hourly'|trans }}
                        </span>
                    </p>
                </div>
                <div class="col">
                    {{ form_row(form.start) }}
                    {{ form_row(form.end) }}
                    {{ form_row(form.repeat_weekly) }}
                    {{ form_row(form.repeat_weekly_until) }}
                    <div id="booking_data"></div>
                </div>
            </div>
            <div class="mb-4">
                {{ form_row(form.comment) }}
            </div>
            <div id="concurrent_approved_alert" class="alert alert-danger d-none">
                <p><strong>
                    {{ 'booking.new.template.concurrent_approved'|trans|raw }}
                </strong></p>
                <div class="concurrent_list">
                    <p>{{ 'booking.new.template.concurrent_approved_item'|trans|raw }}</p>
                </div>
            </div>
            <div id="concurrent_request_alert" class="alert alert-warning d-none">
                <p><strong>
                    {{ 'booking.new.template.concurrent_request'|trans|raw }}
                </strong></p>
                <div class="concurrent_list">
                    <p>{{ 'booking.new.template.concurrent_request_item'|trans|raw }}</p>
                </div>
            </div>
            <hr>
            <div class="row mb-4 align-items-center">
                <div class="col fs-5">
                    <p>
                        {{ 'booking.new.cost'|trans }} :
                        <span id="booking_price_display"></span> <br />
                        {{ 'booking.new.as_level'|trans({
                            '%level%': ('member.level.' ~ access_level)|trans
                        }) }}
                    </p>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-lg mb-3" type="submit">
                        {{ 'booking.action.request'|trans }}
                    </button>
                    <button
                        class="btn btn-light"
                        type="submit"
                        onclick="document.booking.booking_repeat.value = true"
                    >
                        {{ 'booking.action.repeat'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
