{% extends 'booking/base.html.twig' %}

{% block page_title %}{{ 'booking.index_waiting.title'|trans }}{% endblock %}

{% block scripts %}
<script type="module" src="/js/action-list.js"></script>
{% endblock %}

{% block body %}
<h1 class="mb-3 text-center">{{ 'booking.index_waiting.title'|trans }}</h1>
{% if not is_granted('ROLE_ADMIN') %}
<a href="{{ path('booking_new') }}" class="btn btn-primary mb-3">
    {{ 'booking.new.label'|trans }}
</a>
{% endif %}
<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>{{ 'booking.field.applicant'|trans }}</th>
            <th>{{ 'booking.field.place'|trans }}</th>
            <th>{{ 'booking.field.period.label'|trans }}</th>
            <th>{{ 'booking.field.length.label'|trans }}</th>
            <th>{{ 'booking.field.price'|trans }}</th>
            <th>{{ 'booking.action.label'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>
                <a href="{{ path('member_show', {'id': booking.applicantId}) }}">
                    {{ booking.applicantName }}
                </a> <br/>
                (<a href="{{ path('booking_index_applicant', {'id': booking.applicantId}) }}">
                    {{ 'booking.index_applicant.label'|trans }}
                </a>)
            </td>
            <td>{{ booking.placeName }}</td>
            <td>
                {% include 'booking/_period.html.twig' with {
                    'unit': booking.unit,
                    'start': booking.start,
                    'end': booking.end
                } only %}
            </td>
            <td>
                {{ booking|booking_length|format_number }}
                {{ ('booking.field.length.' ~ booking.unit)|trans }}
            </td>
            <td>{{ (booking.price / 100)|format_currency('EUR') }}</td>
            <td>
                <button
                    class="btn btn-primary btn--remote"
                    data-method="PUT"
                    data-action="{{ path('booking_allow', {id: booking.id}) }}"
                >{{ 'booking.action.allow'|trans }}</button>
                <button
                    class="btn btn--remote"
                    data-method="DELETE"
                    data-action="{{ path('booking_deny', {id: booking.id}) }}"
                >{{ 'booking.action.deny'|trans }}</button>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">
                {{ 'warning.no_record'|trans }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include '_pagination.html.twig' with {
    page: page,
    route: 'booking_index_waiting',
} only %}
{% endblock %}
