<div class="accordion position-fixed bottom-0 end-0 me-3" style="z-index: 2;" id="bugReport">
    <div class="accordion-item">
        <h2 class="accordion-header" id="bugReportDisplay">
            <button
                class="accordion-button bg-warning text-dark me-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#bugReportForm" aria-expanded="true"
                aria-controls="bugReportForm">
                <i class="bi bi-bug me-2"></i>
                Vous avez un souci technique avec le site ?
            </button>
        </h2>
        <div
            id="bugReportForm" class="accordion-collapse collapse"
            aria-labelledby="bugReportDisplay" data-bs-parent="#bugReport">
            <div class="accordion-body">
                <form
                    name="bug_report" method="POST"
                    action="{{ path('portal_report', {
                        id: app.user.owner.id,
                        fromRoute: app.request.get('_route'),
                    }) }}">
                    <label for="bug_report_subject" class="form-label">
                        Le bug en quelque mots
                    </label>
                    <input
                        type="text" class="form-control mb-3"
                        name="bug_report[subject]" id="bug_report_subject"
                        required
                    />
                    <label for="bug_report_text" class="form-label">
                        Vous pouvez développer ? Quelle page, qu'est-ce que vous
                        avez fait pour rencontrer le bug, etc …
                    </label>
                    <textarea
                        name="bug_report[text]" id="bug_report_text"
                        class="form-control mb-3" required
                    ></textarea>
                    <button class="btn btn-primary">
                        Envoyer mon rapport de bug
                    </button>
                    <p class="form-text">
                        En nous informant des bugs vous nous aidez à
                        améliorer l'intranet, merci beaucoup ! <br>
                        -- Le petit robot de l'intranet 🤖
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>