<li class="nav-item">
    <a
    {% if route is defined and app.request.get('_route') == route %}
        class="nav-link active" aria-current="page"
        {% else %}
        class="nav-link"
        {% endif %}
        href="{{ url is defined ? url : path(route, params is defined ? params : []) }}">
        {{ label|trans }}
        {% if count is defined and count > 0 %}
        <span class="badge bg-primary">{{ count }}</span>
        {% endif %}
    </a>
</li>
