{% set params = params is defined ? params : {} %}
{% set offset = offset is defined ? offset : '+0 second' %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page.previous is not null %}
        <li class="page-item">
            <a
                class="page-link"
                href="{{ path(route, {page: page.previous.number}|merge(params)) }}"
            >
                <i class="bi bi-caret-left-fill"></i>
                {{ page.previous.uniqueMonth
                    |date_modify(offset)
                    |format_date(pattern='MMMM y')
                    |capitalize }}
                <span class="badge bg-secondary">
                    {{ page.previous.count }}
                </span>
            </a>
        </li>
        {% endif %}
        {% if page.next is not null %}
        <li class="page-item">
            <a
                class="page-link"
                href="{{ path(route, {page: page.next.number}|merge(params)) }}"
            >
                {{ page.next.uniqueMonth
                    |date_modify(offset)
                    |format_date(pattern='MMMM y')
                    |capitalize }}
                <span class="badge bg-secondary">
                    {{ page.next.count }}
                </span>
                <i class="bi bi-caret-right-fill"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
