{% set params = params is defined ? params : {} %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page.previous is defined %}
        <li class="page-item">
            <a class="page-link" href="{{ path(route, {page: page.previous}|merge(params)) }}">
                {{ 'portal.action.previous_page'|trans }}
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">{{ 'portal.action.previous_page'|trans }}</a>
        </li>
        {% endif %}
        {% if page.next is defined %}
        <li class="page-item">
            <a class="page-link" href="{{ path(route, {page: page.next}|merge(params)) }}">
                {{ 'portal.action.next_page'|trans }}
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">{{ 'portal.action.next_page'|trans }}</a>
        </li>
        {% endif %}
    </ul>
</nav>
