<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block page_title %}{{ 'portal.home'|trans }}{% endblock %} |
            {% block app_title %}{{ 'portal.name'|trans }}{% endblock %}
        </title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootstrap-icons.css" />
        <link rel="stylesheet" href="/css/main.css" />
        {% block stylesheets %}{% endblock %}
        <script src="/js/bootstrap.bundle.min.js" defer></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light {{
            is_granted('ROLE_ADMIN') ? 'bg-warning' : 'bg-light'
        }}">
            <div class="container-fluid">
                <ol class="breadcrumb mb-0">
                    {% block breadcrumb %}
                    {% if app.request.attributes.get('_route') == 'portal' %}
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ 'portal.name'|trans }}
                    </li>
                    {% else %}
                    <li class="breadcrumb-item">
                        <a href="{{ path('portal') }}">
                            {{ 'portal.name'|trans }}
                        </a>
                    </li>
                    {% endif %}
                    {% endblock %}
                </ol>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <button
                    class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                    aria-controls="navbarMenu" aria-expanded="false"
                    aria-label="Basculer la navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-grow-0" id="navbarMenu">
                    <ul class="navbar-nav mb-2 mb-lg-0 me-5">
                        {% block navbar_menu %}
                        {% if is_granted('ROLE_ADMIN') %}
                        {% include '_nav_link.html.twig' with {
                            'route': 'member_index',
                            'label': 'member.index.label'
                        } only %}
                        {% endif %}
                        {% endblock %}
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle" href="#"
                                id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"
                            >
                                {{ app.user.owner.name }}
                            </a>
                            <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="navbarDropdown"
                            >
                                <li>
                                    <a class="dropdown-item" href="{{ path('member_me') }}">
                                        {{ 'portal.account'|trans }}
                                    </a>
                                </li>
                                {% if is_granted('IS_IMPERSONATOR') %}
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="{{ path('member_me', { _switch_user: '_exit' }) }}"
                                    >
                                        {{ 'member.action.stop_impersonation'|trans }}
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('logout') }}">
                                        {{ 'portal.logout'|trans }}
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <div class="dropdown-item-text">
                                        Intranet v{{ app_version }}
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </nav>
        <main class="container my-5">
            <p class="alert alert-warning alert-browser-faulty" role="alert" style="display: none;">
                {{ 'warning.browser_faulty'|trans }}
            </p>
            <div class="alert__box">
                {% for level, messages in app.flashes %}
                {% for message in messages %}
                <p
                    class="alert alert-{{ level }} alert-dismissible fade show"
                    role="alert"
                >
                    {{ message }}
                    <button
                        type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Effacer"
                    ></button>
                </p>
                {% endfor %}
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </main>
        <footer class="bg-light py-5 text-center mt-auto">
            <div class="container">
                <div class="row justify-content-center">
                    <p class="col-md-4">
                        <a href="{{ path('portal') }}">
                            {{ 'portal.name'|trans }}
                        </a>
                    </p>
                    <p class="col-md-4">
                        <a
                            href="http://bouilloncube.fr" target="_blank"
                            rel="noopener noreferrer"
                        >
                            {{ 'link.bouillon_cube'|trans }}
                        </a>
                    </p>
                </div>
                <p>
                    <small>
                        Développement
                        <a
                            href="http://www.kayathommy.fr" target="_blank"
                            rel="noopener noreferrer"
                        >
                            {{ 'link.com_libre'|trans }}
                        </a>.
                    </small>
                </p>
            </div>
        </footer>
        {% if is_granted('ROLE_USER') %}
        {% include '_bug_report_form.html.twig' %}
        {% endif %}
        <script>
            // warn users if browser has bugs reported (safari for now)
            const UA = navigator.userAgent
            const isFaulty =
                /Safari/.test(UA) &&
                !/Chrome/.test(UA) &&
                !/Chromium/.test(UA)
            
            if (isFaulty) {
                document.querySelector('.alert-browser-faulty').style.display = 'block'
            }
        </script>
    </body>
</html>
